APP_ENV=development
APP_PORT=4000
APP_BASE_URL=http://localhost:4000
APP_ALLOWED_HOSTS=http://localhost:4001
APP_NAME=Expense Sharing
LOG_LEVEL=info

DB_FILE=./data/expense-sharing.sqlite
MIGRATIONS_PATH=./src/database/migrations
DB_DEBUG=false
FRONTEND_DIST=../../frontend/web/dist
